
@{
    ViewBag.Title = "Home";
}

<link href="~/Controllers/StyleSheet1.css" rel="stylesheet" />


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">
                    <h2>Contact Us to Buy this Dress..</h2>
                </div>
                <div class="modal-body">
                    <p>To buy this dress visit out website <a href="https://www.limelight.pk/collections/summer-22">Our Website</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    </div>
    <title>Home Page</title>

    <div class="nav navbar-inverse">
        <div class="container-fluid">
            <div class="nav navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Shopping Spot</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>SignUp</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-4">
            <img src="~/Models/Images/pic.alii.jpg"  style="width:100%; height:auto" />
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    <div class="col-lg-4"><img src="~/Models/Images/images (2).jpg" class="img-responsive" /></div>
                    <div class="col-lg-4"><img src="~/Models/Images/images (3).jpg" class="img-responsive" /></div>
                    <div class="col-lg-4"><img src="~/Models/Images/images (4).jpg" class="img-responsive" /></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-lg-4"><h4><b>Product Title:</b></h4></div>
            <div class="col-lg-8"><h4>Woman product</h4></div>
            <div class="col-lg-4"><h4><b>Price:</b></h4></div>
            <div class="col-lg-8"><h4>4000</h4></div>
            <div class="col-lg-4"><h4><b>Category:</b></h4></div>
            <div class="col-lg-8"><h4>Woman clothes</h4></div>
            <div class="col-lg-4"><h4><b>Sub Category:</b></h4></div>
            <div class="col-lg-8"><h4>Shirts</h4></div>
            <div class="col-lg-4"><h4><b>Fabric:</b></h4></div>
            <div class="col-lg-8"><h4>Lawn</h4></div>

            <div class="col-lg-12">
                <p>
                    Limelight FCC 80 Red Embroidered <b>Three Piece Lawn Collection</b>, Spring/Summer Collection, Replica Picture Attached, Embroidered 90*70 Airjet Lawn
                    Limelight FCC 80 Red Embroidered <b>Three Piece Lawn Collection</b>, Spring/Summer Collection, Replica Picture Attached, Embroidered 90*70 Airjet Lawn
                    Limelight FCC 80 Red Embroidered <b>Three Piece Lawn Collection</b>, Spring/Summer Collection, Replica Picture Attached, Embroidered 90*70 Airjet Lawn ..
                </p>
                <div class="text-center">
                    <button class="btn btn-custom btn-lg" data-toggle="modal" data-target="myModal">Add to  Cart</button>
                    <button class="btn btn-custom btn-lg"data-toggle="modal" data-target="myModal">Buy Now</button>


                </div>
            </div>

        </div>
    </div>


